.project_nav {
    display: block;
    padding-top: 40px; /* if navbar is fixed */
    color: black;
    text-align: center;
    font-size: 20px;
  }

.project_section {
    text-align: left;
    scroll-margin-top: 90px;
    padding-top: 1rem;
    padding-left: 20px;
    /* margin-top: 20px; */
}